.accept-gtc-link{color: #000 !important;text-decoration: none !important;}
.check_numeric, .final_price_tr_cls{text-align: right;}
.final_price_tr_cls{border: none;padding: 7px;background-color: rgba(211, 211, 211, 0.33);}
.attr-set-title{font-weight: 600;}
